@import url(https://db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold);

.centered-page-parent-box {
    margin: 20px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.centered-table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.banner-below-main-parent {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 80px;
}

.openings-table-parent-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.openings-table-row {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.openings-table-row:hover {
    border-color: #99a9ff;
}

.blue-button {
    font-family: "Circular Std Bold";
    background-color: #0070F3;
    width: 90px;
    border: none;
    text-decoration: none;
    color: white;
    padding: 16px 32px 16px 32px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.blue-button:hover {
    background-color: #0067dd;
}

.search-bar-parent {
    padding: 4px 10px 4px 10px;
    width: 300px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 6px;
    gap: 10px;
}

.search-bar{
    border: none;
    align-items: center;
    font-size: 14px;
}

.table-row-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.table-row-left-primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.job-table-filter-bar-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.mobile-navbar-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .openings-table-row {
        flex-direction: column; /* Stack items vertically on smaller screens */
        gap: 10px; /* Adjust the gap as needed */
        align-items: flex-start;
    }

    .centered-page-parent-box {
        margin: 8px 20px 8px 20px;
    }

    .banner-parent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-bar-parent {
        width: 200px;   
    }

    .banner-below-main-parent {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 80px;
    }
    
    .recent-openings-text {
        display: none;
    }

    .about-image-mockups {
        display: none;
    }
}