.footer{
    margin-top: 60px;
    padding: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(114, 147, 255);
    background: linear-gradient(90deg, rgb(206, 218, 255) 0%, rgb(176, 188, 253) 50%, rgb(136, 154, 255) 100%);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-clickable-option {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: rgb(255, 97, 97);
}

.header-clickable-option:hover {
    color: black;
}

.header-right-section{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.mobile-menu-icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .header-right-section {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }
}