.footer{
    margin-top: 60px;
    padding: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(179, 37, 171);
    background: linear-gradient(90deg, rgb(206, 218, 255) 0%, rgba(198,176,253,1) 50%, rgb(136, 148, 255) 100%);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-clickable-option {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid #f7b955;
}

.header-clickable-option:hover {
    color: #ff0080;
}

.header-right-section{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.mobile-menu-icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .header-right-section {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }
}